<nav>
    <ul id="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/">Custom</a></li>
        <li><a href="/">Sudan</a></li>
        <li><a href="/">SUV</a></li>
        <li><a href="/">Truck</a></li>
    </ul>
</nav>