/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/******* mobile view ********/

body {
  font-family: Verdana, sans-serif;
  padding: 20px;
}

h2 {
  color: dodgerblue;
}

#wrapper {
  margin: 0 auto;
  line-height: 1.6;
}

li {
  text-decoration: none;
}

.namePrice {
  font-size: 20px;
  padding: 15px;
}

/***** Header ******/

#top-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
}

#top-header a {
  color:black;
}

.siteName {
  font-size: 35px;
  color:black;
}

#tools {
  color:black;
  text-align: right;
}

/**** Navigation *****/
nav {
  background-color: black;
  font-size: 20px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: white;
}

nav ul li {
  display: inline;
}

nav ul li a {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}

nav ul li a:hover {
  color: white;
  background-color: dodgerblue;
  margin-top: 30px;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
}

nav ul a:visited {
  color: dodgerblue;
}

/****** Welcome ******/

#welcome {
  padding: 10px;
  margin-top: 0px;
}

#delorean {
  color: dodgerblue;
  background: rgba(255, 255, 255, 0.3); 
  float: left;
}

#delorean ul {
  text-align: left;
  margin-top: -20px;
}

#delorean li {
  list-style-type: none;
}

button {
  background-color: dodgerblue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

#delorean a:visited {
  color:white;
}

#welcome img {
  position: relative;
}

/****** Reviews ******/

#reviews {
  clear: left
}

/***** Upgrades *******/

a:visited {
  color: dodgerblue;
}

.upgrades-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto 90px 40px 90px 40px;
  justify-content: start;
}

.grid-item1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

#upgrades img {
  background-color: dodgerblue;
  padding: 10px;
}

#upgrades div {
  margin: 10px;
}

/****** Desktop View ******/

@media only screen and (min-width: 750px) {
  body {
    background-image: url(/images/site/checkerboard.jpg);
  }

  #wrapper {
    max-width: 960px;
    margin: 0 auto;
    line-height: 1.6;
    background-color: white;
    border: 3px solid dodgerblue;
    border-radius: 10px;
  }
 
  nav ul li a {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  nav ul li a:hover {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  #desktop-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    justify-content: start;
  }

  #top {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  #welcome {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  #reviews {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  #upgrades {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}