<!-- Content Heading -->
<%# if (detail_title) { %>
    <!--<h1><%#= detail_title %></h1>-->
    <%# } else {
      res.redirect('/')
    } %>

<!-- Message -->
<!-- <%# messages() %> -->

<!-- Inventory Item Details Display -->
<%#- detail %>